@import "tailwindcss";

@theme inline {
  --font-mono: var(--font-mystery-quest);
  --font-sans: var(--font-charis-sil);
  --font-heading: var(--font-pt-serif-caption);
  --color-bg : #34495e;
  --color-heading : #f39c12;
  --color-text : #f7f9f9;
  --color-accent : #16a085;
  --color-footer-bg : #2c3e50;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
