@import "tailwindcss";

@theme inline {
  --font-mono: var(--font-mystery-quest);
  --font-sans: var(--font-charis-sil);
  --font-heading: var(--font-pt-serif-caption);
  --color-bg : #621e3e;
  --color-heading : #c6c954;
  --color-text : #e6d8d7;
  --color-accent : #ecb5ca;
  --color-footer-bg : #880a45;
}

/* @media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
